.searchbox-container {
  width: 100%;
  max-height: 2.6rem;

  display: grid;
  grid-column: center-start / center-end;

  @media screen and (max-width: 1220px) {
    grid-column: full-start / full-end;
    margin-top: 1.2rem;
    max-height: 4rem;
  }

  #form {
    position: relative;
  }

  .searchBar {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 100% !important;
    padding: 12px 18px 12px 50px;
    border: none;
    box-shadow: 0 0 2px 0 #648a78;

    font-size: 16px;
    color: #648a78;
    outline: none;
    transition: all 0.35s ease-out;
    margin: 0;

    &:not(:valid)~.close-icon {
      display: none;
    }
  }

  ::placeholder {
    color: rgb(121, 185, 149);
    transition: all 0.35s ease-out;
  }

  .searchIcon {
    top: 0;
    left: 0;
    width: 28px;
    position: absolute;
    margin: 8px 0 0 18px;
    opacity: 0.6;
  }

  .noDisplay {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .close-icon {
    position: absolute;
    padding-top: 40px;
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
  }

  .close-icon:after {
    content: "X";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: rgb(186, 216, 192);
    z-index: 1;
    right: 32px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
  }
}

.searchBar:focus::placeholder,
.searchBar:hover::placeholder {
  color: rgb(79, 163, 142);
}

@media (max-width:465px) {
  .searchBar {
    padding: 9px 14px 8px 38px !important;
    font-size: 14px !important;
    margin-top: 2px;
  }

  .searchIcon {
    top: 0;
    left: 0;
    width: 21px !important;
    margin: 9px 14px !important;
  }

  .close-icon {
    padding-top: 38px !important;

    &:after {
      width: 14px !important;
      height: 14px !important;
      right: 28px !important;
      border-radius: 50%;
      font-size: 9px !important;
    }
  }
}